@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
}

body {
  background-color: black
}

.pads button:nth-child(1) {
  border-radius: 320px 20px 20px 20px;
  box-shadow: -6px -6px 4px 0px rgba(0, 128, 0, 0.623);
}

.pads button:nth-child(2) {
  border-radius: 20px 320px 20px 20px;
  box-shadow: 6px -6px 4px 0px rgba(128, 0, 0, 0.623);
}

.pads button:nth-child(3) {
  border-radius: 20px 20px 20px 320px;
  box-shadow: -6px 6px 4px 0px rgba(184, 135, 11, 0.623);
}

.pads button:nth-child(4) {
  border-radius: 20px 20px 320px 20px;
  box-shadow: 6px 10px 4px 0px rgba(19, 19, 161, 0.521);
}